aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1649013197268/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
ansi2html==1.8.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-generator==1.10
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat==20.2.0
backcall==0.2.0
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1651441579062/work
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854210220/work
bs4==0.0.1
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_05nm_gqf36/croots/recipe/certifi_1663615689491/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215451259/work
constantly==15.1.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174324676/work
cssselect==1.1.0
cycler==0.11.0
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dnspython @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6ecjb_0rcu/croots/recipe/dnspython_1659712640473/work
entrypoints==0.4
executing==1.0.0
fake-useragent==0.1.11
fastjsonschema==2.16.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
Flask==2.2.3
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1620718971772/work
fonttools==4.37.1
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1659557032147/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1636964356021/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1660985916368/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
google-pasta==0.2.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1648220701630/work
gunicorn==20.1.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1652727116927/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1660488172380/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
import-ipynb==0.1.4
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252891204/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1621907170877/work
ipykernel==6.15.2
ipynb==0.5.1
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib==1.1.0
jsonschema==4.15.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-dash==0.4.2
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1643987515720/work/keras-2.8.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver==1.4.4
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1656759431927/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737610588/work
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==2.0.4
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1648882466411/work
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nbimporter==0.3.4
nest-asyncio==1.5.5
notebook==6.4.12
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1660672930208/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parse==1.19.0
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
protobuf==3.20.1
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
pyee==8.2.2
Pygments==2.13.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pymongo==3.12.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.18.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
requests-html==0.10.0
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
retrying==1.3.4
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
scikit-learn==1.1.2
scipy==1.9.1
Scrapy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_76af7rt3wk/croots/recipe/scrapy_1659598702735/work
seaborn==0.12.0
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1660069164233/work/src/py
Send2Trash==1.8.0
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve==2.3.2.post1
stack-data==0.5.0
tenacity==8.2.1
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1644015949874/work/tensorboard-2.8.0-py3-none-any.whl
tensorboard-data-server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1649932892572/work/tensorboard_data_server-0.6.0-py3-none-macosx_10_9_x86_64.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock-4/tensorflow-feedstock-osx_64_abseil_cpp20210324.2grpc_cpp1.45python3.10.____cpython/miniforge3/conda-bld/tensorflow-split_1653159817531/work/tensorflow_pkg/tensorflow-2.8.1-cp310-cp310-macosx_10_9_x86_64.whl
tensorflow-estimator @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock-4/tensorflow-feedstock-osx_64_abseil_cpp20210324.2grpc_cpp1.45python3.10.____cpython/miniforge3/conda-bld/tensorflow-split_1653159817531/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.8.0-py2.py3-none-any.whl
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1657118200573/work
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1657323845005/work
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1654688523434/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1641849081899/work/dist
Twisted @ file:///Users/runner/miniforge3/conda-bld/twisted_1662643532694/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
w3lib==2.0.1
wcwidth==0.2.5
webdriver-manager==3.8.5
webencodings==0.5.1
websockets==10.3
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
widgetsnbextension==4.0.3
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1651495286247/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1648966580272/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1649175752968/work
